<h2>Character Creation Wizard</h2>
<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="demographics" editable="true">
    <ng-template matStepLabel>Fill out your name</ng-template>
    <app-demographics [(demographics)]="demographics"></app-demographics>
    <button mat-button matStepperNext>Next</button>
  </mat-step>

  <!-- <mat-step [stepControl]="lifepath" editable="true">
    <ng-template matStepLabel>Life Path</ng-template>
    <app-lifepath [(lifepath)]="lifepath"></app-lifepath>
    <button mat-button matStepperNext>Next</button>
  </mat-step> -->

  <!-- <mat-step [stepControl]="friends" editable="true">
    <ng-template matStepLabel>List Your Friends</ng-template>
    <app-friends [(friends)]="friends"></app-friends>
    <button mat-button matStepperNext>Next</button>
  </mat-step> -->

  <mat-step [stepControl]="enemies" editable="true">
    <ng-template matStepLabel>List Your Enemies</ng-template>
    <app-enemies [(enemies)]="enemies"></app-enemies>
    <button mat-button matStepperNext>Next</button>
  </mat-step>

  <mat-step [stepControl]="loveAffairs" editable="true">
    <form [formGroup]="loveAffairs">
      <ng-template matStepLabel>List your love affairs</ng-template>

      <button (click)="addLoveAffairs()">Add Love Affair</button>

      <div
        *ngFor="let loveAffair of loveAffairs.controls; let i = index"
        [formGroupName]="i"
      >
        <mat-form-field>
          <mat-label>Love Affair {{ i + 1 }} Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Love Affair {{ i + 1 }}, What Happened?</mat-label>
          <mat-select formControlName="tragedy">
            <mat-option
              *ngFor="let loveAffairTragedy of loveAffairTragedies"
              [value]="loveAffairTragedy"
            >
              {{ loveAffairTragedy }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  // TODO: Move the rest of the above mat steps into their own components
  <mat-step [stepControl]="lifeGoals" editable="true">
    <ng-template matStepLabel>Life Goals</ng-template>
    <app-life-goals [(lifeGoals)]="lifeGoals"></app-life-goals>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="roleLifePath" editable="true">
    <ng-template matStepLabel>Role Life Path</ng-template>
    <app-role-lifepaths
      [(roleLifePath)]="roleLifePath"
      [demographics]="demographics"
    ></app-role-lifepaths>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

// TODO: Abstract classes for role lifepaths
