<h2>Character Creation Wizard</h2>
<mat-vertical-stepper linear #stepper>
  <mat-step [stepControl]="demographics" editable="true">
    <ng-template matStepLabel>Demographics</ng-template>
    <app-demographics [(demographics)]="demographics"></app-demographics>
    <button mat-button matStepperNext>Next</button>
  </mat-step>

  <!-- <mat-step [stepControl]="lifepath" editable="true">
    <ng-template matStepLabel>Life Path</ng-template>
    <app-lifepath [(lifepath)]="lifepath"></app-lifepath>
    <button mat-button matStepperNext>Next</button>
  </mat-step> -->

  <!-- <mat-step [stepControl]="friends" editable="true">
    <ng-template matStepLabel>List Your Friends</ng-template>
    <app-friends [(friends)]="friends"></app-friends>
    <button mat-button matStepperNext>Next</button>
  </mat-step> -->

  <!-- <mat-step [stepControl]="enemies" editable="true">
    <ng-template matStepLabel>List Your Enemies</ng-template>
    <app-enemies [(enemies)]="enemies"></app-enemies>
    <button mat-button matStepperNext>Next</button>
  </mat-step> -->

  <!-- <mat-step [stepControl]="loveAffairs" editable="true">
    <ng-template matStepLabel>List your love affairs</ng-template>
    <app-love-affairs [(loveAffairs)]="loveAffairs"></app-love-affairs>
    <button mat-button matStepperNext>Next</button>
  </mat-step> -->

  <!-- <mat-step [stepControl]="lifeGoals" editable="true">
    <ng-template matStepLabel>Life Goals</ng-template>
    <app-life-goals [(lifeGoals)]="lifeGoals"></app-life-goals>
    <button mat-button matStepperNext>Next</button>
  </mat-step> -->

  <mat-step [stepControl]="roleLifePath" editable="true">
    <ng-template matStepLabel>Role Life Path</ng-template>
    <app-rockerboy-lifepath
      (rockerBoyChange)="roleLifePathChange($event)"
      *ngIf="demographics.get('role').value === 'Rockerboy'"
    ></app-rockerboy-lifepath>
    <app-solo-lifepath
      (soloChange)="roleLifePathChange($event)"
      *ngIf="demographics.get('role').value === 'Solo'"
    ></app-solo-lifepath>
    <app-netrunner-lifepath
      (netrunnerChange)="roleLifePathChange($event)"
      *ngIf="demographics.get('role').value === 'Netrunner'"
    ></app-netrunner-lifepath>
    <app-tech-lifepath
      (techChange)="roleLifePathChange($event)"
      *ngIf="demographics.get('role').value === 'Tech'"
    ></app-tech-lifepath>
    <app-medtech-lifepath
      (medtechChange)="roleLifePathChange($event)"
      *ngIf="demographics.get('role').value === 'Medtech'"
    ></app-medtech-lifepath>
    <app-media-lifepath
      (mediaChange)="roleLifePathChange($event)"
      *ngIf="demographics.get('role').value === 'Media'"
    ></app-media-lifepath>
    <app-exec-lifepath
      (execChange)="roleLifePathChange($event)"
      *ngIf="demographics.get('role').value === 'Exec'"
    ></app-exec-lifepath>
    <app-lawman-lifepath
      (lawmanChange)="roleLifePathChange($event)"
      *ngIf="demographics.get('role').value === 'Lawman'"
    ></app-lawman-lifepath>
    <app-fixer-lifepath
      (fixerChange)="roleLifePathChange($event)"
      *ngIf="demographics.get('role').value === 'Fixer'"
    ></app-fixer-lifepath>
    <app-nomad-lifepath
      (nomadChange)="roleLifePathChange($event)"
      *ngIf="demographics.get('role').value === 'Nomad'"
    ></app-nomad-lifepath>
    <button mat-button matStepperNext>Next</button>
  </mat-step>

  <mat-step [stepControl]="stats" editable="true">
    <ng-template matStepLabel>Stats</ng-template>
    <app-player-statistics [(stats)]="stats"></app-player-statistics>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
</mat-vertical-stepper>

<p *ngIf="roleLifePath">{{ roleLifePath.value | json }}</p>
<!-- TODO: Abstract classes for role lifepaths -->
