/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* .mat-form-field-flex {
  background-color: white;
} */

.mat-select-panel mat-option.mat-option {
  height: unset;
}

.mat-option-text.mat-option-text {
  white-space: normal;
  margin: 10px 0px;
}

.mat-select-panel .mat-optgroup-label,
.mat-select-panel .mat-option {
  line-height: 1.5em !important;
}
